PROJECT_NAME=auth

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=auth
POSTGRES_USER=postgres
POSTGRES_PASSWORD=TEST_POSTGRES_PASSWORD

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

JWT_SECRET_KEY=TEST_JWT_SECRET_KEY
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
JWT_REFRESH_TOKEN_EXPIRE_DAYS=2

LOG_JSON=true
LOG_LEVEL=INFO

OTEL_ENABLED=true
OTEL_SERVICE_NAME=auth-api
OTEL_SERVICE_VERSION=0.1.0
OTEL_ENVIRONMENT=development
OTEL_EXPORTER_OTLP_ENDPOINT=http://127.0.0.1:4317
OTEL_EXPORTER_OTLP_INSECURE=true
